h1{
    padding: 40px;
    font-size: 50px;
    color:brown;
    font-family: "Helvetica" ;
    }
  
h4 {
    font-family: "LucidaSans";
    font-style: italic;
   }

body{
    text-align: center;
    font-family: "Helvetica";
    padding-top: 8%;
    background-image: url("Read.md/confeti-01.png");
    background-repeat: repeat-x;
    background-color:#f9f7db;
    }

input{
    border-radius: 10px;
    padding: 10px;
    font-weight: 200;
    font-size: 12px;
    cursor: pointer;  
    }

